{% extends 'posts/base.html' %}

{% block content %} 

<article class="media content-section">
    <img class="rounded-circle article-img" src="{{user.profile.image.url}}">
    <div class="media-body">
        <h3> Username: {{user.username}}</h3>  
        <h3> Email: {{user.email}}</h3> 
        <h3> Mobile: {{user.profile.mobile}}</h3>  
        <h3> Friends : </h3> 
        {% for x in fri_list %} 
            <h4>{{x}}</h4>
        {% endfor %} 
    </div> 

</article>

{% endblock content %}